* {
  margin: 0;
  padding: 0;
}

.heading {
  background-color: rgba(210, 203, 203, 0.925);
  border-radius: 20px;
  height: 63px;
  padding: 0 20px;
  margin: 30px 0;
  .logo {
    // margin: 0px 0 0 0;
    padding: 10px 20px;
    position: absolute;
    color: rgb(112, 111, 111);
  }
  .nav {
    margin: 15px 0 0 150px;
    ul {
      li {
        float: left;
        list-style: none;
        margin-top: 20px;

        a {
          text-decoration: none;

          color: grey;
          padding: 20px 60px;
        }
        a:hover {
          color: white;
          background-color: black;
        }
      }
    }
  }
}

// .container {
//   width: 50%;
//   height: 30%;
// }

// .dropdown {
//   width: 300px;
//   margin: 0 50px;
//   position: relative;
//   user-select: none;

//   .dropdown-btn {
//     padding: 10px 15px;
//     background: white;
//     // box-shadow: 5px 3px 4px 4px blue;
//     display: flex;
//     font-weight: bold;
//     color: black;
//     align-items: center;
//     justify-content: space-between;
//     border: 1px solid black;
//     border-radius: 3px;
//   }
//   .dropdown-contents {
//     position: absolute;
//     top: 100%;
//     padding: 10px 0px;
//     background: white;
//     // box-shadow: 5px 3px 4px 4px blue;
//     font-weight: 400;
//     color: black;
//     width: 100%;
//     // margin-left: -15px;

//     .dropdown-items {
//       padding: 10px;
//       background-color: rgba(115, 116, 116, 0.14);
//     }
//     .dropdown-items:hover {
//       background-color: rgba(220, 220, 211, 0.673);
//     }
//   }
// }

// .show-hide {
//   border: 2px solid red;
// }
.info {
  //   border: 1px solid green;
  margin: 40px;
}
.selection {
  //   border: 1px solid red;
  padding: 15px 40px;
  font-weight: bold;
  font-size: 26px;
  option {
    margin-top: 10px;
  }
}

// Tasks

.task-hero {
  margin: 50px 150px;
  padding: 20px;
  //   position: relative;
  border-bottom: 1px solid;
  //   margin: 10px;

  .task {
    // position: absolute;
    margin: 0 10px;
  }
  .title {
    margin-top: -37px;
    margin-left: 70px;
    font-weight: 500;
    font-size: 25px;
  }
  .completed {
    margin-top: -42px;
    margin-left: 80%;
    // float: right;
  }
}

.addbtn {
  padding: 15px 25px;
  margin: 50px;
  font-size: 20px;
  background-color: rgba(33, 175, 241, 0.989);
  outline-style: none;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

.deletebtn {
  padding: 15px 25px;
  margin: -40px 0 0 0;
  //   margin-top: 30%;
  font-size: 20px;
  background-color: rgba(209, 63, 40, 0.86);
  outline-style: none;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  color: white;
  float: right;
  cursor: pointer;
}

.addedTask {
  justify-content: center;
  margin: auto;
  //   text-align: center;
  margin: -75px 170px;
  padding: 50px 0;

  .addedList {
    padding: 35px 0px;
    font-size: 25px;
    margin: 0px 0 0 50px;
    border-bottom: 1px solid;
  }
  .deletebtn {
    margin-top: -70px;
  }
}

.inputTask {
  padding: 20px;
  margin: 0 0 0 30px;
  font-size: 15px;
}

// Login

.login {
  margin: 15vh 150px;
  display: flex;
  padding: 20px;
  position: relative;

  .inputtext,
  .password {
    margin: 0 10px;
    border: none;
    padding: 10px;
    border-bottom: 1px solid;
  }
  .passlabel {
    // left: 0;
    position: absolute;
    top: 100px;
  }

  .changepass,
  .logout {
    padding: 10px;
    margin: 20px 0;
    width: 13%;
    position: absolute;
    top: 50vh;
    left: 0;
    text-align: center;
  }
  .logout {
    left: 35vh;
  }
}

// Password change

.changepass {
  margin: 15vh 150px;
  display: flex;
  padding: 20px;
  position: relative;

  .username,
  .newpass {
    margin: 0 10px;
    border: none;
    padding: 10px;
    border-bottom: 1px solid;
  }
  .newpasslabel {
    // left: 0;
    position: absolute;
    top: 100px;
  }

  .savepass,
  .logoutsession {
    padding: 10px 0;
    margin: 20px 0;
    width: 55%;
    position: absolute;
    top: 40vh;
    left: 0;
  }
  .logoutsession {
    left: 35vh;
  }
}

// Validator  part

// .form {
//   max-width: 30rem;
//   justify-content: center;
//   margin: 100px 0 0 150px;
//   top: 100px;
// }

// .formGroup {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 1rem;
// }

// .formLabel {
//   margin-bottom: 0.25rem;
// }

// .formField {
//   padding: 0.5rem;
// }

// .formFieldError {
//   border: 1px solid #e11d48;
// }

// .formFieldErrorMessage {
//   display: inline-block;
//   margin: 0.25rem 0 0 0;
//   color: #e11d48;
// }

// .formActions {
//   display: flex;
//   justify-content: flex-end;
// }

// .formSubmitBtn {
//   padding: 13px 20px;
//   width: 40%;
//   //   background-color: #9333ea;
//   color: black;
//   text-transform: uppercase;
//   font-weight: 500;
// }

// Authentication login
.formcent {
  text-align: center;
  margin: auto;

  .loginInput {
    margin: 40px 0 0 100px;
    padding: 20px;
    input {
      padding: 10px;
      margin: 0 0 0 5px;
      border: none;
      border-bottom: 1px solid;
    }
  }

  .loginPass {
    margin: 100px 0 0 100px;
    padding: 20px;
    top: 30%;
    input {
      padding: 10px;
      margin: 0 0 0 5px;
      border: none;
      border-bottom: 1px solid;
    }
  }

  .logbtn {
    margin: 50px 0 0 0px;
    padding: 15px 25px;
    font-size: 15px;
    width: 10%;
  }
}

.divcent {
  justify-content: center;
  margin: auto;
  text-align: center;
  .logoutbtn {
    font-size: 17px;
    padding: 15px 25px;
    width: 10%;
    margin: 30px 0 0 0px;
  }
}
